DATABASE_URL=""
SOURCE_DATABASE_URL=""
MYSQL_DATABASE_URL=""

ADMIN_ACCESS_CODE=""
ATTENDANT_NAME="Shop ICT Attendant"
ATTENDANT_EMAIL=""
ATTENDANT_PASSWORD=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

PUBLIC_SITE_URL=""
PUBLIC_WEB_PUSH_PUBLIC_KEY=""
WEB_PUSH_PRIVATE_KEY=""
WEB_PUSH_SUBJECT=""
